*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/GLRayPickupTest/.vs
/GLRayPickupTest/ipch
/GLRayPickupTest/Win32
/GLRayPickupTest/x64
/GLRotAngleTest1/.vs
/GLRotAngleTest1/ipch
/GLRotAngleTest1/Win32
/GLRotAngleTest1/x64
/MyGLComputeSimpleTest1/.vs
/MyGLComputeSimpleTest1/ipch
/MyGLComputeSimpleTest1/Win32
/MyGLComputeSimpleTest1/x64
